<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <title>Happy Birthday 🎂</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <h1 id="typing"></h1>
  <p id="sub">สุขสันต์วันเกิดนะเพื่อนนนท์ 🎉</p>

  <button onclick="surprise()">🎁 กดดูสิเพื่อน</button>

  <p id="message">
    ขอให้ปีนี้เป็นปีที่ดี ประสบความสำเร็จทุกอย่าง
  </p>

  <canvas id="confetti"></canvas>
  <div id="balloons"></div>

  <script src="script.js"></script>
</body>
</html>
